.background{
    background-color: rgb(220, 188, 188);
}

.text-color {
   color: rgb(184, 163, 57);
   font-family: sans-serif;
   font-style: italic;
   font-weight: 200;
   
}
.P_babs_galeri{
    border-radius: 10%;

}
.ground {
    background-color: rgb(173, 165, 155);
}
.background2{
    background-color: #b9638a;
}
.lead{
    margin-left: 20px;
    margin-top: 50px;
}